html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

html, body{
  height: 100%;
}
body{
  background: #222;
  font-family: sans-serif;
  line-height: 1.4em;
  display:flex;
}
header{
  display: none;
  position: fixed;
  z-index: 3;
  bottom:0;
  left:0;
  width: 100%;
  background: tomato;
  height:50px;
}
aside{
  background:#ccc;
  width:10%;
}
aside .selected-images{
  overflow-y: auto;
  flex: 1 1 100%;
}
aside .selected-images img{
  width:90%;
  display: block;
  margin:0 auto 10px auto;
  height:auto;
}
form#outputs{
  display: flex;
  flex-direction: column;
  height: 100%;
}
form.add{
  display: flex;
}
form.add input{
  flex: 1 1 auto;
  text-transform: none;
}
main{
  text-align:center;
  flex:1 0 90%;
  height:100%;
  overflow-y: hidden;
  overflow-x:hidden;
}
main img{
  max-height: 70vh;
  padding: 10vh 0;
  width:auto;
}
#colorinput{
  width:100%;
  border:0;
  padding: 0;
  display: block;
  margin:40px auto;
  width:40px;
  height:40px;
  border:3px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  flex:0 0 auto;
}
.buttons{
  flex: 1 1 auto;
}

.image-box{
  position:relative;
  max-height: 1700px;
  height: calc(100vh - 20px);
  left:0;
  right:0;
  transition: all .5s linear;
}
.image-box:hover{
  background: #333;
}
.image-box.removed{
  max-height:0;
  left:110vw;
}
.image-box.added{
  max-height:0;
  left:-110vw;
}
p.attribution{
  display: none;
  padding:20px;
}
.choicelist{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10vh;
}

/* Yes / No choices buttons */

.choice, .about{
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  width:60px;
  height:60px;
  margin: 20px;
  border-radius: 80px;
  box-shadow: 0 0 20px  #000;
  cursor: pointer;
  font-size: 1.2em;
  color:black;
  text-transform: uppercase;
  transition: box-shadow .2s linear;
}
.choice:hover{
  box-shadow: 0 0 10px #000;
}
.choice.yes{
  background: #eee;
}
.choice.no{
  background: #000;
  color: white;
}
.choice span{
  flex: 1 1 auto;
}
.output{
  border:1px solid white;
  padding:30px;
}

/* Buttons, Form elements */

input, button, .button{
  padding:10px;
  border:none;
  width:100%;
  font-size: 14px;
  box-shadow: inset 0 0 3px #ccc;
  text-transform: uppercase;
}
button, .button{
  background:#eee;
  color:black;
  width:100%;
  border:none;
  text-decoration:none;
  display:block;
  text-align:center;
  cursor: pointer;
}
button:focus, .button:focus{
  background:#888;
}
button:hover, .button:hover{
  background:#ddd;
  color: black;
}
button:active, .button:active, .choice:active{
  opacity:.7;
}

/* Help popup */

.helpbutton{
  position:fixed;
  bottom:20px;
  right:40px;
  padding: 5px 12px;
  width:auto;
  z-index: 3;
  border-radius: 30px;
}
.help{
  display: none;
  position: fixed;
  bottom:0;
  top:0;
  left:70%;
  right:0%;
  overflow-y: auto;
  background: purple;
  color:#fff;
  padding:30px 30px 60px 30px;
}
.small{
  font-size: .6em;
}
.tutorial p{
  position :fixed;
  color:white;
  background: purple;
  font-size: 20px;
  border-radius:20px;
  padding:10px 15px;
  }
.tutorial p:after{
  content: "";
  position:absolute;
  background: purple;
  width:20px;
  height:20px;
  display: block;
  transform:rotate(-45deg);
  z-index: -10;
}
.tutmedia{
  bottom:30px;
  left:11%;
}
.tutmedia:after{
  top:calc(50% - 10px);
  left:-5px;
}
.tutadd{
  top:55px;
  left:30%;
}
.tutadd:after{
  top:-10px;
  left:calc(50% - 10px);
}
.tutyesno{
  bottom:20%;
  left:40%;
}
.tutyesno:after{
  bottom:-10px;
  left:50%;
}
body.help-opened .help{
  display: block;
}

/* Typography */

ul{
  padding-left: 20px;
  margin:10px 0;
}
li{
  list-style: circle;
  padding-left: 20px;
  margin-bottom: 10px;
}
a{
  color:inherit;
}
